<div>
	<table>
		<thead>
			<tr>
				<th width="45">&nbsp;</th>
				<th>Customer Id</th>
				<th>Customer Name</th>
				<th>Is Admin</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="customer in ctrl.customers">
				<td>{{customer.id}}</td>
				<td>{{customer.name}}</td>
				<td>{{customer.admin}}</td>
			</tr>
		</tbody>
	</table>
</div>