<div>
	<form ng-submit="ctrl.submitForm()" name="ctrl.form">
		<input type="text" ng-model="ctrl.username" class="form-control" placeholder="Username">
		<input type="password" ng-model="ctrl.password" class="form-control" placeholder="Password">

		<button type="submit">Submit</button>
	</form>
</div>